button {
    margin: 30px;
    margin-left: 170px;
    padding: 5px;
    background-color: rgb(0, 119, 255);
}

.size {
    display: inline;
    border: 2px solid grey;
    margin: 20px;
    padding: 10px;
}

.selectedSize {
    border: 2px solid blue;
}

.title {
    border: 2px solid #11357e;
    background-color: #4267B2;
    color: wheat;
    border-radius: 2.5%;
    margin: 20px;
    padding: 10px;
}